<div ng-app="drinkUp">

    <div class="container">
        <div class="row">
            <div class="col s12">

                <h1>Drink Up</h1>
                <section class="hidden-xs beer-animation">
                    <div id="action">
                        <div id="keg">
                            <div id="pipe-handle"></div>
                            <div id="pipe"></div>
                            <div id="pipe-front"></div>
                        </div>

                        <div class="glass">
                            <div class="beer"></div>
                            <div class="handle">
                                <div class="top-right"></div>
                                <div class="bottom-right"></div>
                            </div>
                            <div class="front-glass"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">


            <button class="loginBtn loginBtn--facebook" ng-click="$ctrl.loginUser('facebook')">
  Login with Facebook
</button>
        </div>
        <div class="row">
            <button class="loginBtn loginBtn--google" ng-click="$ctrl.loginUser('google')">
  Login with Google
</button>
        </div>

    </div>



</div>


</div>