<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>{{$ctrl.beer.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <h4>
                <em>{{$ctrl.beer.style.name}}</em>
            </h4>
        </div>
    </div>


    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <img src="{{$ctrl.label}}" alt="No Image for {{$ctrl.beer.name}}">
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <p>{{$ctrl.description}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <p><b>ABV: </b>{{$ctrl.abv}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <p><b>IBU: </b>{{$ctrl.ibu}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <p><b>Serving Temp.: </b>{{$ctrl.temp}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <p><b>SRM: </b>{{$ctrl.srm}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <p><b>Availability: </b>{{$ctrl.avail}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <p><b>Glass: </b>{{$ctrl.glass}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col s3 offset-s1">
            <button ng-click="$ctrl.addToList( 'liked', $ctrl.id, $ctrl.name)">Like</button>
        </div>
        <div class="col s3 offset-s1">
            <button ng-click="$ctrl.addToList( 'hated', $ctrl.id, $ctrl.name)">Hate</button>
        </div>
        <div class="col s3 offset-s1">
            <button ng-click="$ctrl.addToList( 'queued', $ctrl.id, $ctrl.name)">Queue</button>
        </div>
    </div>


</div>

</div>