<center>
    <h5 class="title">WELCOME TO DRINK UP</h5>
</center>

<!--Search-->
<center>
    <div class="container">
        <div class="row">
            <div class='style-form col-xs-12 '>
                <h3>Search Beer</h3>
            </div>
        </div>
        <div class="row">
                <form class='col-xs-12'ng-submit="$ctrl.searchAll($ctrl.query)">
                    <input class="text-center" ng-model="$ctrl.query" type="text">
            <button type="submit" class=" col-xs-12 btn-lg btn-success"id="search-btn">Search</button>
            </form>
        </div>
        </div>
    </div>
    </div>
</center>

<!--Results-->
<div class="container">
    <div class="row">
        <div ng-if="$ctrl.beerResults.length > 0">
            <h4>{{$ctrl.allResults.length}}: Results Found</h4>
            <!--We Will have to change this incase 0 results really are found-->
        </div>
        <div ng-repeat="beer in $ctrl.beerResults">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator center-block" src="{{beer.labels.medium}}" width="100px">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{beer.name}}<i class="material-icons right">More Info</i></span>
                    <p>Style: {{beer.style.category.name || "Unknown Style"}}</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
                    <p>{{beer.description || "Sorry, but there is no description for this beer!"}}</p>
                    <div ng-if="beer.breweries"> <!--Keeps List buttons off brweries-->
                    <button class="btn-primary" id="{{beer.id}}" ng-click="$ctrl.addToList( 'liked', beer.id, beer.name, beer.labels.medium, beer.description, beer.style.category.name)">Liked</button>
                    <button class="btn-danger" id="{{beer.id}}"ng-click="$ctrl.addToList( 'sucked', beer.id, beer.name, beer.labels.medium, beer.description, beer.style.category.name)">Sucked</button>
                    <button class="btn-success" id="{{beer.id}}" ng-click="$ctrl.addToList( 'queue', beer.id, beer.name, beer.labels.medium, beer.description, beer.style.category.name)">Gotta Try It!</button>
                </div>
                </div>                
            </div>
        </div>
    </div>
</div>