<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>{{$ctrl.myBeer.name}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <h4>
                <em>{{$ctrl.myBeer.style.name}}</em>
            </h4>
        </div>
    </div>


    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <img src="{{$ctrl.myBeer.labels.icon}}" alt="No Image for {{$ctrl.myBeer.name}}">
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <p>{{$ctrl.myBeer.description}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <p><b>ABV: </b>{{$ctrl.myBeer.abv}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <p><b>IBU: </b>{{$ctrl.myBeer.ibu || 'N/A'}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <p><b>Serving Temp.: </b>{{$ctrl.myBeer.temp || 'Cold'}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <p><b>SRM: </b>{{$ctrl.myBeer.srm.name || 'N/A'}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <p><b>Availability: </b>{{$ctrl.myBeer.avail || 'N/A'}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <p><b>Glass: </b>{{$ctrl.myBeer.glass.name || 'Any glass will do'}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <p><b>{{$ctrl.myBeer.name}}</b> is currently in your <b>{{$ctrl.myBeer.listId}}</b> list</p>
        </div>
    </div>



    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <p>Do you want to move <b>{{$ctrl.myBeer.name}}</b> to another list? </p>
        </div>
    </div>


    <div class="row">
        <div class="col s3 offset-s1">
            <button ng-click="$ctrl.changeList({list: 'liked', data:$ctrl.myBeer})">Like</button>
        </div>
        <div class="col s3 offset-s1">
            <button ng-click="$ctrl.changeList({list: 'hated', data:$ctrl.myBeer})">Hate</button>
        </div>
        <div class="col s3 offset-s1">
            <button ng-click="$ctrl.changeList({list: 'queued', data:$ctrl.myBeer})">Queue</button>
        </div>
    </div>


</div>

</div>