<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>Hated</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div ng-repeat="beer in $ctrl.sucked">
            <div class="col s6">
                <a ui-sref="beer({id: beer.id})" class="left beer-item" role="button">{{beer.name}} </a>
            </div>
            <div class="col s2 offset-s4">
                <a class="right btn remove-btn" ng-click="$ctrl.removeSucked(beer.id)">Remove From List</a>
            </div>
        </div>
        </hr>
    </div>
</div>