// Color Hunt Swatch: http://colorhunt.co/c/25747
// @import "responsive.scss";
$fresh: #4ABDAC; 
$vermillion: #FC4A1A; 
$sunshine: #F7B733; 
$clean: #DFDCE3; 
$background:#E9573F; 



.title{
    font-family: 'Bungee', cursive;
    font-size: 5em;
}

.search-text{
    font-family: 'Bungee', cursive;
    font-size: 3em;
}

.beer-container {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;  

}

.beer-flex{
  font-size: 60px;
  text-align: center;
  margin: 0.5%;
}

///Card///
.card{    
    background: pink; 
    color: $fresh;  
    height: 300px;
    width: 400px; 
    border-radius: 35%;
    font-size: 0.5em;  
    
      overflow-y: scroll;
 }

.card-reveal{
    color: $vermillion; 
    background: $clean; 
    border-radius: 10%; 
    
      overflow-y: scroll;
}

.card .card-image img {
    width: 100px;
    margin-top:10px;
}
.collapsible-header{
   font-size: 30px; 
     }
.collapsible-body{

     font-size: 20px
      }
    p{

     font-size: 20px
      }

 .material-icons{
     color: $clean; 

 }


.small-title{
    display: inline; 
    color: $fresh; 
    font-size: 20px; 
}

.page-title{ 
    font-size: 3em; 
}

.beer-animation{
    margin-top: -10%; 
}

.search-bar-home{
    margin-top: -10%; 
}


::-webkit-scrollbar { width: 0 !important }

body{
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none; 
}

//   .card{
//   }



@import 'draught.scss';
@import 'responsive.scss';
@import 'scroll.scss';
