// Color Hunt Swatch: http://colorhunt.co/c/25747

$green: #A9EEE6; 
$beige: #FEFAEC; 
$pink: #F38181; 
$purple: #625772; 

.card{
    
    background: $purple; 
    color: $beige; 
}

.card-reveal{
    color: $purple; 
    background: $beige; 
}

.card .card-image img {
    width: 30%;
    margin-top:20px;
}

.title{
    font-family: 'Bungee', cursive;

}

body {
    background-color: $pink;
    color: $green 


}